$color-gray: #ddd
$color-primary: #2d94cf
$color-secondary: #ef7939
$color-green: #5cb460
$color-yellow: #f0ad4e
$font-content: 'Open Sans', Helvetica, Arial, Sans-serif
$font-title: 'Nunito', Helvetica, Arial, Sans-Serif

body
	font-family: $font-content

h1, h2, h3, h4
	font-family: $font-title
	font-weight: 700

h1
	font-size: 3.5em
	font-size: 3.5rem

h2
	font-size: 2.75em
	font-size: 2.75rem

h3
	font-size: 2em
	font-size: 2rem

h4
	font-size: 1.75em
	font-size: 1.75rem

p
	font-family: $font-content
	font-weight: 300

ul
	margin: 0
	padding: 0

i.fa
	font-size: 3em

code
	background: #333
	border-radius: none
	color: #fff
	font-family: "Courier New", Courier, monospace
	font-style: italic
	padding: 10px 20px

blockquote
	background: #f1f1f1
	border-left: 5px solid #ddd
	border-radius: 5px
	color: #555
	display: inline-block
	font-family: $font-title
	font-style: italic
	margin: 20px
	max-width: 480px
	padding: 40px 20px
	width: auto

.prim-color
	background: $color-primary
	border-radius: 5px
	height: 40px
	margin-bottom: 20px
	width: 100%
.second
	background: $color-secondary
.third
	background: #dddddd
.fourth
	background: #333333

.btn
	background: $color-gray
	border: none
	border-bottom: 2px solid darken($color-gray, 20%)
	color: #fff
	font-weight: bold
	padding: 10px 20px
	&:hover
		background: $color-gray
		background: lighten($color-gray, 10%)
		color: #fff

.btn-primary
	background: $color-primary
	border-bottom: 2px solid darken($color-primary, 20%)
	&:hover
		background: lighten($color-primary, 10%)

.btn-secondary
	background: $color-secondary
	border-bottom: 2px solid darken($color-secondary, 20%)
	&:hover
		background: lighten($color-secondary, 10%)
		color: #fff

.btn-finish
	background: $color-green
	border-bottom: 2px solid darken($color-green, 20%)
	&:hover
		background: lighten($color-green, 10%)
		color: #fff

.btn-warning
	background: $color-yellow
	border-bottom: 2px solid darken($color-yellow, 20%)
	&:hover
		background: lighten($color-yellow, 10%)
		color: #fff

.well
	margin-bottom: 40px
	p
		font-family: "Courier New", Courier, monospace

.indicators
	margin-top: 20px
	li
		float: left
		list-style: none
		margin-right: 40px
		min-height: 240px
		min-width: 240px
		text-align: center
		width: 29%
		i
			display: block
		span
			display: block
			margin: 10px 0

#cpanel
	background: #fff
	border-bottom: 3px #ddd solid
	position: relative
	width: 100%
	transition: position .5s ease
	&:active
		top: -400px
	h2
		color: #ddd
	a
		&:hover
			text-decoration: none
	li
		font-weight: 700
		margin: 15px 0
		max-width: 100%
	i
		font-size: 1em
	.my-camps
		padding: 0 40px
		li
			margin: 25px 0
			&:first-child
				margin-top: 0
			&:last-child
				margin-bottom: 40px
		.progress
			position: relative
			top: 10px
			span
				color: #fff
				font-weight: 700
		i
			background: #ddd
			border: 2px solid #f2f2f2
			border-radius: 50%
			color: #999
			float: right
			margin-left: 10px
			padding: 10px
			display: block
			transition: all .2s ease
			&:hover
				background: $color-primary
				border-color: lighten($color-primary, 20%)
				color: #fff
		.complete
			color: $color-primary

	.notifications
		max-height: 250px
		overflow-y: scroll
		padding: 0 20px
		i
			color: #ddd
		.notification-variable
			color: $color-primary
		.read
			opacity: 0.2
			font-weight: 300

	.my-profile
		padding: 0 40px
		li
			margin: 0
		a
			color: #ddd
			display: block
			transition: color .2s ease
			padding: 10px 0
			&:hover
				color: $color-primary
		i
			font-size: 1.5em
			position: relative
			margin-right: 10px
			top: 3px
	.cpanel-click
		position: absolute
		top: 100%
		right: 20px
		background: #fff
		z-index: 99999999999999
		a
			color: #ddd
			display: block
			padding: 10px 15px
			transition: all .2s ease
			&:hover
				color: $color-primary
.navbar-default
	background-image: none
	background-color: #333
	.navbar-brand
		color: #1485c6
		font-size: 2em
		font-weight: bold
		padding-top: 10px
		text-shadow: 0 1px 1px #000
		&:hover
			color: #1485c6
		span
			color: #ef7939
	.navbar-right
		i
			color: #000
			font-size: 2em
			text-shadow: none
	.dropdown-toggle
		padding: 10px
		img
			border-radius: 50%
.story-head
	padding-bottom: 40px
	text-align: center
	h1
		color: #ef7939
		margin-top: 0
	h2
		margin-bottom: 0
	img
		float: right
		left: 110px
		margin-left: 50%
		max-width: 100px
		position: absolute
	.progress
		max-width: 500px
		margin: 20px auto auto auto

.panel-default
	.panel-heading
		background-image: none
		background-color: #1485c6
		i
			float: left
			font-size: 1em
		h4
			a
				color: #fff
				text-align: center
				display: block
				width: 100%
				&:hover
					text-decoration: none
.userStory
	a
		&:hover
			text-decoration: none
	.panel-body
		padding: 30px
		h4
			margin-bottom: 40px
		.start
			float: right
			position: relative
			top: -10px
		p
			&:before
				content: ''
				clear: both
		.list-unstyled
			li
				margin-bottom: 20px
				&:first-child
					margin-top: 40px
				&:last-child
					margin-bottom: 40px
			i
				font-size: 1.5em
				font-size: 2rem
				margin-right: 5px
			.fa-question-circle
				color: #ddd
				margin-left: 5px
.dashboard-items
	.col-md-4
		margin-bottom: 20px
	.projects
		background: $color-primary
		border-radius: 5px
		color: #fff
		padding: 20px
		h2
			text-align: center
		h3
			color: darken($color-primary, 20%)
			text-align: center
		i
			font-size: 1.25em
			color: darken($color-primary, 20%)
		.modal
			color: #333
			.btn
				color: #fff
		.btn
			color: #aaaaaa
			i.fa-check
				color: #aaaaaa
		.btn-finish
			color: #0b6b4b
		.fa-check
			color: #0b6b4b
		ul
			margin: 0
			padding: 0
			li
				background: darken($color-primary, 20%)
				border-radius: 3px
				font-weight: bold
				font-size: 1em
				list-style: none
				margin-bottom: 5px
				padding: 10px
				&:after
					content: ''
					clear: both
					display: block
					visibility: hidden
				button
					float: right
					font-size: 0.75em
				.first
					margin-right: 5px
				.btn-warning
					i
						color: darken($color-yellow, 20%)
	.front-end
		background: #14acc8
		h3
			color: darken(#14acc8, 20%)
		i
			color: darken(#14acc8, 20%)
		ul
			li
				background: darken(#14acc8, 20%)
	.back-end
		background: #14c88b
		h3
			color: darken(#14c88b, 20%)
		i
			color: darken(#14c88b, 20%)
		ul
			li
				background: darken(#14c88b, 20%)