body {
  font-family: "Open Sans", Helvetica, Arial, Sans-serif; }

h1, h2, h3, h4 {
  font-family: "Nunito", Helvetica, Arial, Sans-Serif;
  font-weight: 700; }

h1 {
  font-size: 3.5em;
  font-size: 3.5rem; }

h2 {
  font-size: 2.75em;
  font-size: 2.75rem; }

h3 {
  font-size: 2em;
  font-size: 2rem; }

h4 {
  font-size: 1.75em;
  font-size: 1.75rem; }

p {
  font-family: "Open Sans", Helvetica, Arial, Sans-serif;
  font-weight: 300; }

ul {
  margin: 0;
  padding: 0; }

i.fa {
  font-size: 3em; }

code {
  background: #333;
  border-radius: none;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  padding: 10px 20px; }

blockquote {
  background: #f1f1f1;
  border-left: 5px solid #ddd;
  border-radius: 5px;
  color: #555;
  display: inline-block;
  font-family: "Nunito", Helvetica, Arial, Sans-Serif;
  font-style: italic;
  margin: 20px;
  max-width: 480px;
  padding: 40px 20px;
  width: auto; }

.prim-color {
  background: #2d94cf;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;
  width: 100%; }

.second {
  background: #ef7939; }

.third {
  background: #dddddd; }

.fourth {
  background: #333333; }

.btn {
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px; }

.btn-primary {
  background: #2d94cf;
  border-bottom: 3px solid #1b587b; }
  .btn-primary:hover {
    background: #55aada; }

.btn-secondary {
  background: #ef7939;
  border-bottom: 3px solid #b3490f; }
  .btn-secondary:hover {
    background: #f39968;
    color: #fff; }

.well {
  margin-bottom: 40px; }
  .well p {
    font-family: "Courier New", Courier, monospace; }

.indicators {
  margin-top: 20px; }
  .indicators li {
    float: left;
    list-style: none;
    margin-right: 40px;
    min-height: 240px;
    min-width: 240px;
    text-align: center;
    width: 29%; }
    .indicators li i {
      display: block; }
    .indicators li span {
      display: block;
      margin: 10px 0; }

#cpanel {
  background: #fff;
  border-bottom: 3px #ddd solid;
  position: relative;
  width: 100%;
  transition: position 0.5s ease; }
  #cpanel:active {
    top: -400px; }
  #cpanel h2 {
    color: #ddd; }
  #cpanel a:hover {
    text-decoration: none; }
  #cpanel li {
    font-weight: 700;
    margin: 15px 0;
    max-width: 100%; }
  #cpanel i {
    font-size: 1em; }
  #cpanel .my-camps {
    padding: 0 40px; }
    #cpanel .my-camps li {
      margin: 25px 0; }
      #cpanel .my-camps li:first-child {
        margin-top: 0; }
      #cpanel .my-camps li:last-child {
        margin-bottom: 40px; }
    #cpanel .my-camps .progress {
      position: relative;
      top: 10px; }
      #cpanel .my-camps .progress span {
        color: #fff;
        font-weight: 700; }
    #cpanel .my-camps i {
      background: #ddd;
      border: 2px solid #f2f2f2;
      border-radius: 50%;
      color: #999;
      float: right;
      margin-left: 10px;
      padding: 10px;
      display: block;
      transition: all 0.2s ease; }
      #cpanel .my-camps i:hover {
        background: #2d94cf;
        border-color: #7fbfe3;
        color: #fff; }
    #cpanel .my-camps .complete {
      color: #2d94cf; }
  #cpanel .notifications {
    max-height: 250px;
    overflow-y: scroll;
    padding: 0 20px; }
    #cpanel .notifications i {
      color: #ddd; }
    #cpanel .notifications .notification-variable {
      color: #2d94cf; }
    #cpanel .notifications .read {
      opacity: 0.2;
      font-weight: 300; }
  #cpanel .my-profile {
    padding: 0 40px; }
    #cpanel .my-profile li {
      margin: 0; }
    #cpanel .my-profile a {
      color: #ddd;
      display: block;
      transition: color 0.2s ease;
      padding: 10px 0; }
      #cpanel .my-profile a:hover {
        color: #2d94cf; }
    #cpanel .my-profile i {
      font-size: 1.5em;
      position: relative;
      margin-right: 10px;
      top: 3px; }
  #cpanel .cpanel-click {
    position: absolute;
    top: 100%;
    right: 20px;
    background: #fff;
    z-index: 99999999999999; }
    #cpanel .cpanel-click a {
      color: #ddd;
      display: block;
      padding: 10px 15px;
      transition: all 0.2s ease; }
      #cpanel .cpanel-click a:hover {
        color: #2d94cf; }

/*# sourceMappingURL=style.css.map */
