body {
  font-family: "Open Sans", Helvetica, Arial, Sans-serif; }

h1, h2, h3, h4 {
  font-family: "Nunito", Helvetica, Arial, Sans-Serif;
  font-weight: 700; }

h1 {
  font-size: 3.5em;
  font-size: 3.5rem; }

h2 {
  font-size: 2.75em;
  font-size: 2.75rem; }

h3 {
  font-size: 2em;
  font-size: 2rem; }

h4 {
  font-size: 1.75em;
  font-size: 1.75rem; }

p {
  font-family: "Open Sans", Helvetica, Arial, Sans-serif;
  font-weight: 300; }

ul {
  margin: 0;
  padding: 0; }

i.fa {
  font-size: 3em; }

code {
  background: #333;
  border-radius: none;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  padding: 10px 20px; }

blockquote {
  background: #f1f1f1;
  border-left: 5px solid #ddd;
  border-radius: 5px;
  color: #555;
  display: inline-block;
  font-family: "Nunito", Helvetica, Arial, Sans-Serif;
  font-style: italic;
  margin: 20px;
  max-width: 480px;
  padding: 40px 20px;
  width: auto; }

.prim-color {
  background: #2d94cf;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;
  width: 100%; }

.second {
  background: #ef7939; }

.third {
  background: #dddddd; }

.fourth {
  background: #333333; }

.btn {
  background: #ddd;
  border: none;
  border-bottom: 2px solid #aaaaaa;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px; }
  .btn:hover {
    background: #ddd;
    background: #f7f7f7;
    color: #fff; }

.btn-primary {
  background: #2d94cf;
  border-bottom: 2px solid #1b587b; }
  .btn-primary:hover {
    background: #55aada; }

.btn-secondary {
  background: #ef7939;
  border-bottom: 2px solid #b3490f; }
  .btn-secondary:hover {
    background: #f39968;
    color: #fff; }

.btn-finish {
  background: #5cb460;
  border-bottom: 2px solid #367438; }
  .btn-finish:hover {
    background: #7fc482;
    color: #fff; }

.btn-warning {
  background: #f0ad4e;
  border-bottom: 2px solid #c77c11; }
  .btn-warning:hover {
    background: #f4c37d;
    color: #fff; }

.well {
  margin-bottom: 40px; }
  .well p {
    font-family: "Courier New", Courier, monospace; }

.indicators {
  margin-top: 20px; }
  .indicators li {
    float: left;
    list-style: none;
    margin-right: 40px;
    min-height: 240px;
    min-width: 240px;
    text-align: center;
    width: 29%; }
    .indicators li i {
      display: block; }
    .indicators li span {
      display: block;
      margin: 10px 0; }

#cpanel {
  background: #fff;
  border-bottom: 3px #ddd solid;
  position: relative;
  width: 100%;
  transition: position 0.5s ease; }
  #cpanel:active {
    top: -400px; }
  #cpanel h2 {
    color: #ddd; }
  #cpanel a:hover {
    text-decoration: none; }
  #cpanel li {
    font-weight: 700;
    margin: 15px 0;
    max-width: 100%; }
  #cpanel i {
    font-size: 1em; }
  #cpanel .my-camps {
    padding: 0 40px; }
    #cpanel .my-camps li {
      margin: 25px 0; }
      #cpanel .my-camps li:first-child {
        margin-top: 0; }
      #cpanel .my-camps li:last-child {
        margin-bottom: 40px; }
    #cpanel .my-camps .progress {
      position: relative;
      top: 10px; }
      #cpanel .my-camps .progress span {
        color: #fff;
        font-weight: 700; }
    #cpanel .my-camps i {
      background: #ddd;
      border: 2px solid #f2f2f2;
      border-radius: 50%;
      color: #999;
      float: right;
      margin-left: 10px;
      padding: 10px;
      display: block;
      transition: all 0.2s ease; }
      #cpanel .my-camps i:hover {
        background: #2d94cf;
        border-color: #7fbfe3;
        color: #fff; }
    #cpanel .my-camps .complete {
      color: #2d94cf; }
  #cpanel .notifications {
    max-height: 250px;
    overflow-y: scroll;
    padding: 0 20px; }
    #cpanel .notifications i {
      color: #ddd; }
    #cpanel .notifications .notification-variable {
      color: #2d94cf; }
    #cpanel .notifications .read {
      opacity: 0.2;
      font-weight: 300; }
  #cpanel .my-profile {
    padding: 0 40px; }
    #cpanel .my-profile li {
      margin: 0; }
    #cpanel .my-profile a {
      color: #ddd;
      display: block;
      transition: color 0.2s ease;
      padding: 10px 0; }
      #cpanel .my-profile a:hover {
        color: #2d94cf; }
    #cpanel .my-profile i {
      font-size: 1.5em;
      position: relative;
      margin-right: 10px;
      top: 3px; }
  #cpanel .cpanel-click {
    position: absolute;
    top: 100%;
    right: 20px;
    background: #fff;
    z-index: 99999999999999; }
    #cpanel .cpanel-click a {
      color: #ddd;
      display: block;
      padding: 10px 15px;
      transition: all 0.2s ease; }
      #cpanel .cpanel-click a:hover {
        color: #2d94cf; }

.navbar-default {
  background-image: none;
  background-color: #333; }
  .navbar-default .navbar-brand {
    color: #1485c6;
    font-size: 2em;
    font-weight: bold;
    padding-top: 10px;
    text-shadow: 0 1px 1px #000; }
    .navbar-default .navbar-brand:hover {
      color: #1485c6; }
    .navbar-default .navbar-brand span {
      color: #ef7939; }
  .navbar-default .navbar-right i {
    color: #000;
    font-size: 2em;
    text-shadow: none; }
  .navbar-default .dropdown-toggle {
    padding: 10px; }
    .navbar-default .dropdown-toggle img {
      border-radius: 50%; }

.story-head {
  padding-bottom: 40px;
  text-align: center; }
  .story-head h1 {
    color: #ef7939;
    margin-top: 0; }
  .story-head h2 {
    margin-bottom: 0; }
  .story-head img {
    float: right;
    left: 110px;
    margin-left: 50%;
    max-width: 100px;
    position: absolute; }
  .story-head .progress {
    max-width: 500px;
    margin: 20px auto auto auto; }

.panel-default .panel-heading {
  background-image: none;
  background-color: #1485c6; }
  .panel-default .panel-heading i {
    float: left;
    font-size: 1em; }
  .panel-default .panel-heading h4 a {
    color: #fff;
    text-align: center;
    display: block;
    width: 100%; }
    .panel-default .panel-heading h4 a:hover {
      text-decoration: none; }

.userStory a:hover {
  text-decoration: none; }
.userStory .panel-body {
  padding: 30px; }
  .userStory .panel-body h4 {
    margin-bottom: 40px; }
  .userStory .panel-body .start {
    float: right;
    position: relative;
    top: -10px; }
  .userStory .panel-body p:before {
    content: "";
    clear: both; }
  .userStory .panel-body .list-unstyled li {
    margin-bottom: 20px; }
    .userStory .panel-body .list-unstyled li:first-child {
      margin-top: 40px; }
    .userStory .panel-body .list-unstyled li:last-child {
      margin-bottom: 40px; }
  .userStory .panel-body .list-unstyled i {
    font-size: 1.5em;
    font-size: 2rem;
    margin-right: 5px; }
  .userStory .panel-body .list-unstyled .fa-question-circle {
    color: #ddd;
    margin-left: 5px; }

.dashboard-items .col-md-4 {
  margin-bottom: 20px; }
.dashboard-items .projects {
  background: #2d94cf;
  border-radius: 5px;
  color: #fff;
  padding: 20px; }
  .dashboard-items .projects h2 {
    text-align: center; }
  .dashboard-items .projects h3 {
    color: #1b587b;
    text-align: center; }
  .dashboard-items .projects i {
    font-size: 1.5em;
    color: #1b587b; }
  .dashboard-items .projects .modal {
    color: #333; }
    .dashboard-items .projects .modal .btn {
      color: #fff; }
  .dashboard-items .projects .btn {
    color: #aaaaaa; }
  .dashboard-items .projects .btn-finish {
    color: #0b6b4b; }
  .dashboard-items .projects .fa-check {
    color: #0b6b4b; }
.dashboard-items .front-end {
  background: #14acc8; }
  .dashboard-items .front-end h3 {
    color: #0b5c6b; }
  .dashboard-items .front-end i {
    color: #0b5c6b; }
.dashboard-items .back-end {
  background: #14c88b; }
  .dashboard-items .back-end h3 {
    color: #0b6b4b; }
  .dashboard-items .back-end i {
    color: #0b6b4b; }
.dashboard-items ul {
  margin: 0;
  padding: 0; }
  .dashboard-items ul li {
    background: #1b587b;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1em;
    list-style: none;
    margin-bottom: 5px;
    padding: 10px; }
    .dashboard-items ul li:after {
      content: "";
      clear: both;
      display: block;
      visibility: hidden; }
    .dashboard-items ul li button {
      float: right;
      font-size: 0.75em; }
    .dashboard-items ul li .first {
      margin-right: 5px; }

/*# sourceMappingURL=style.css.map */
